* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Open Sans", sans-serif;
  background-color: aliceblue;
}

.mainContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addTakSection {
  margin-top: 600px;
}

button {
  border-radius: 50%;
}

#taskList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dummy {
  height: 15px;
  width: 15px;
}

.row {
  display: flex;
  flex-direction: row;
}

.lineThrough {
  text-decoration: line-through;

}
