* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Open Sans", sans-serif;

}

body {
  background-image: url("to_do_list_picture.jpeg");
}

.mainContainer {
  padding: 10px;
  width: 70%;
  height: 100vh;
  margin: auto 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.addTakSection {
  position: fixed;
  bottom: 50%;
  right: 0;
  width: 300px;
  border: 3px solid #73ad21;
}

button {
  position: fixed;
  left: 0;
  width: 16rem;
  height: 5rem;
  background-color: #3aaf9f;
  border: none;
  border-radius: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  cursor: pointer;
}

.row {
  display: flex;
  align-items: center;
  width: 16rem;
  height: 5rem; /* Set a fixed height for the row */
  gap: 10px;
  background-color: #3aaf9f;
  border: none;
  border-radius: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;

}

#taskList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dummy {
  height: 15px;
  width: 15px;
}

h1 {
  color: white;
  font-weight: 100;
  /* font-size: 50%; */
}

.clear {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px
  ;
}

.lineThrough {
  text-decoration: line-through;
}



.row > .fa-trash {
  margin-left: auto;
}

.dragging {
  opacity: 0.5;
}
